.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.Header {
  flex: 0 1 auto;
  display: flex;
  margin-top:5px;
  border-top:  #f3f3f3;
  padding: 1px;
  align-items: flex-start;  /* 垂直方向の配置を上端に */
  justify-content: center;  /* 水平方向の配置を中央に */
}

.Footer {
  flex: 0 1 auto;
  display: flex;
  border-bottom:  #f3f3f3;
  margin-bottom:5px;
  align-items: flex-start;  /* 垂直方向の配置を上端に */
  justify-content: center;  /* 水平方向の配置を中央に */
}

.MainContent {
  flex: 1;
  display: flex;
  padding: 5px 5px 5px 5px;
  border: 1px solid #f3f3f3;
}
.LeftSection {
  flex: 1;
  padding: 10px;
  border: 1px solid #f3f3f3;
}
.CenterSection {
  flex: 6;
  padding: 10px;
  border: 1px solid #f3f3f3;
}

.RightSection {
  flex: 1;
  padding: 10px;
  border: 1px solid #f3f3f3;
}
