.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header, .Footer {
  flex: 0 1 auto;
  padding: 20px;
  background-color: #f3f3f3;
}

.MainContent {
  flex: 1;
  display: flex;
  padding: 20px;
}

.LeftSection, .CenterSection, .RightSection {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
}

.LeftSection {
  background-color: #f0e68c;
}

.CenterSection {
  background-color: #e6e6fa;
}

.RightSection {
  background-color: #ffe4c4;
}
