.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.Header {
  flex: 0 1 auto;
  padding: 20px;

}

.Footer {
  flex: 0 1 auto;
  padding: 20px;
}

.MainContent {
  flex: 1;
  display: flex;
  padding: 20px;
  border: 1px solid #f3f3f3;
}

.LeftSection {
  flex: 1;
  padding: 10px;
  border: 1px solid #f3f3f3;
}

.CenterSection {
  flex: 2;
  padding: 10px;
  border: 1px solid #f3f3f3;
}

.RightSection {
  flex: 1;
  padding: 10px;
  border: 1px solid #f3f3f3;
}
